<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>나의 작은 메모</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/co.css">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<body>
    <form id="form">
        <div class="menu">
            <span class="material-symbols-outlined">favorite</span>
            <span class="material-symbols-outlined">more_vert</span>
        </div>
        <div class="selects">
            <select name="category" id="category">
                <option selected value="0">전체</option>
            </select>
        </div>
        <div class="note">
            <table class="noteTable">
                <% for (let i = 0; i < list.length; i++) { %>
                    <% if (i % 5 === 0) { %>
                        <tr>
                            <% } %>
                                <td>
                                    <a href="/post/<%= list[i].num %>" class="memoTitle">
                                        <%= list[i].title %>
                                    </a>
                                </td>
                            <% if (i % 5 === 4 || i === list.length -1) { %>
                        <tr>
                    <% } %>
                <% } %>
            </table>
        </div>
        <div class="paging">
            <table>
                <tr>
                    <input type="hidden" value="<%= selectePage %>" id="selectePage">
                    <% for(var i = 0; i < pageNum; i++){ %>
                        <td><a href="javascript:void(0)" class="paging-link"><%= i + 1 %></a></td>
                    <% } %>
                </tr>
            </table>
        </div>
        <div class="write">
            <a id="write">글쓰기<span class="material-symbols-outlined">drive_file_rename_outline</span>&nbsp;</a>
        </div>
        <input type="hidden" id="id" value="<%= id %>" name="id">
        <form>
</body>
<script type="text/javascript" src="/js/library/jquery-3.6.3.min.js"></script>
<script type="text/javascript" src="/js/library/jquery-migrate-1.2.1.js"></script>
<script src="/js/di/DI010000T.js"></script>

</html>